<?xml version="1.0"?>
<config>
    <modules>
        <DGTThemes_DGTTheme>
            <version>2.2.3</version>
        </DGTThemes_DGTTheme>
    </modules>
    <global>
        <models>
            <dgttheme>
                <class>DGTThemes_DGTTheme_Model</class>
            </dgttheme>
        </models>
        <blocks>
            <dgttheme>
                <class>DGTThemes_DGTTheme_Block</class>
            </dgttheme>
        </blocks>
        <helpers>
            <dgttheme>
                <class>DGTThemes_DGTTheme_Helper</class>
            </dgttheme>
        </helpers>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <dgtthemes_dgttheme_system_layout_observer>
                        <type>singleton</type>
                        <class>DGTThemes_DGTTheme_Model_System_Layout_Observer</class>
                        <method>unremoveUpdate</method>
                    </dgtthemes_dgttheme_system_layout_observer>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
        <resources>
            <dgttheme_setup>
                <setup>
                    <module>DGTThemes_DGTTheme</module>
                    <class>DGTThemes_DGTTheme_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dgttheme_setup>
            <dgttheme_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dgttheme_write>
            <dgttheme_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dgttheme_read>
        </resources>
    </global>
</config>