.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
  display:table;
  content:"";
  line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
  font:0 / 0 a;
  color:transparent;
  text-shadow:none;
  background-color:transparent;
  border:0;
}
.input-block-level {
  display:block;
  width:100%;
  min-height:30px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
img {
  display:block;
  height:auto;
  max-width:100%;
}
.dgt-drillmenu {
  float:left !important;
  margin-left:0 !important;
  width:100% !important;
}
.nav-accordion { width:100%; }
ul.nav-accordion {
  line-height:0.5em;
  list-style:none;
  margin:0;
  padding:0;
}
ul.nav-accordion.nav-mobile-accordion li { border:none; }
ul.nav-accordion ul {
  display:none;
  margin:0;
  padding:0;
}
ul.nav-accordion ul li {
  clear:both;
  margin:0;
  padding:0;
}
ul.nav-accordion ul li a {
  font-size:12px;
  outline:none;
  padding-left:15px;
  text-transform:capitalize;
}
ul.nav-accordion ul ul li a { margin-left:10px; }
ul.nav-accordion ul ul ul li a { margin-left:20px; }
ul.nav-accordion li {
  position:relative;
  border-top:1px solid #e4e6e7;
}
ul.nav-accordion li.first { border-top:none; }
ul.nav-accordion li.active:hover a { background-color:transparent; }
ul.nav-accordion li.active a { color:#f46467; }
ul.nav-accordion li.active ul li a { color:#000000; }
ul.nav-accordion li.active ul li a:hover { color:#cb2822; }
ul.nav-accordion li.active ul li.active li a { color:#000000; }
ul.nav-accordion li.active ul li.active li a:hover { color:#cb2822; }
ul.nav-accordion li a {
  display:block;
  font-size:14px;
  line-height:35px;
  margin:0;
  padding:0;
  text-align:left;
  text-decoration:none;
  text-shadow:none;
  text-transform:capitalize;
  color:#5c5c5c;
  outline:medium none;
  -webkit-transition:all 0.2s ease 0s;
  -moz-transition:all 0.2s ease 0s;
  -o-transition:all 0.2s ease 0s;
  transition:all 0.2s ease 0s;
}
ul.nav-accordion li span.expand, ul.nav-accordion li span.collapse {
  cursor:pointer;
  display:block;
  font-size:0;
  right:0;
  position:absolute;
  top:6px;
  z-index:1;
  width:24px;
  height:24px;
  line-height:24px;
  text-align:center;
}
ul.nav-accordion li span.expand:before, ul.nav-accordion li span.collapse:before {
  font-family:'FontAwesome';
  font-size:10px;
}
ul.nav-accordion li span.expand:hover, ul.nav-accordion li span.collapse:hover { background-color:#cfcfcf; }
ul.nav-accordion li span.collapse:before { content:"\f067"; }
ul.nav-accordion li span.expand:before { content:"\f068"; }
ul.nav-accordion li span.expand.collapse:before { content:"\f067"; }
ul.nav-accordion li.level0 > a > span > .cat-label { position:inherit; }
ul.nav-accordion li.level0 > a > span > .pin-bottom:before {
  position:inherit;
  right:6px;
  top:22px;
  width:0;
  height:0;
  content:"";
  border-style:solid;
  border-width:0px;
}
ul.detail-parent {
  margin:0px;
  padding:0 0 0 17px;
}
.dgt-container {
  position:relative;
  overflow:hidden;
}
.dgt-wrapper {
  position:relative;
  left:0;
  z-index:99;
  height:100%;
  -webkit-transition:transform 0.5s;
  -moz-transition:transform 0.5s;
  -o-transition:transform 0.5s;
  transition:transform 0.5s;
}
.dgt-menu {
  position:absolute;
  top:0;
  left:0;
  z-index:100;
  visibility:hidden;
  width:320px;
  height:100%;
  background:#2d2d2d;
  -webkit-transition:all 0.5s linear 0s;
  -moz-transition:all 0.5s linear 0s;
  -o-transition:all 0.5s linear 0s;
  transition:all 0.5s linear 0s;
  overflow:auto;
}
.dgt-menu a {
  border-bottom:1px solid rgba(0,0,0,0.2);
  color:#ffffff;
}
.dgt-menu a:hover {
  background-color:#3f3f3f;
  color:#ffffff;
}
.dgt-menu ul.nav-accordion li li a { padding-left:30px; }
.dgt-menu ul.nav-accordion li li li a {
  padding-left:45px;
  font-size:13px;
}
.dgt-menu ul.nav-accordion li li li li a {
  padding-left:60px;
  font-size:12px;
}
.dgt-menu ul.nav-accordion li ul li a { width:100%; }
.dgt-menu ul.nav-accordion li a {
  padding-left:15px;
  color:#ffffff;
  font-size:14px;
  margin:0;
}
.dgt-menu ul.nav-accordion li span.collapse, .dgt-menu ul.nav-accordion li span.expand {
  top:9px;
  right:15px;
}
.dgt-menu .dgt-menu-active {
  display:block;
  overflow:hidden;
  border-bottom:1px solid #474747;
  padding:0 15px;
  background-color:#1f1f1f;
  cursor:pointer;
  height:60px;
  line-height:60px;
  font-size:20px;
  color:#ffffff;
}
.dgt-menu .dgt-menu-active .navbar-toggle {
  width:100%;
  padding:0;
  margin:0;
  line-height:18px;
}
.dgt-menu .dgt-menu-title { float:left; }
.dgt-menu .dgt-menu-title h3 {
  color:#ffffff;
  margin:12px 0;
  padding:0px;
  text-transform:uppercase;
  font-size:14px;
}
.dgt-menu ul.nav-accordion li a {
  height:44px;
  line-height:44px;
}
.close-canvas { float:right; }
.close-canvas .fa { vertical-align:3px; }
.title-canvas {
  color:#ffffff;
  font-size:20px;
  margin-left:9px;
  text-transform:uppercase;
}
.dgt-canvas-button .fa {
  font-size:30px;
  cursor:pointer;
  margin-bottom:13px;
}
.dgt-menu-active .dgt-close-canvas {
  border:medium none;
  float:right;
  width:17px;
  height:16px;
}
.navbar-inverse {
  background-color:inherit;
  border-color:transparent !important;
}
.site-overlay {
  position:absolute;
  width:100%;
  height:100%;
  opacity:0;
  filter:alpha(opacity=0);
  visibility:hidden;
  background-color:#000000;
  -webkit-transition:transform 0.5s ease 0s;
  -moz-transition:transform 0.5s ease 0s;
  -o-transition:transform 0.5s ease 0s;
  transition:transform 0.5s ease 0s;
  z-index:100;
}
.dgt-effect-slide.dgt-menu-open .dgt-wrapper {
  -webkit-transform:translate3d(320px,0,0);
  transform:translate3d(320px,0,0);
}
.dgt-effect-slide.dgt-menu-open .dgt-effect-slide.dgt-menu {
  visibility:visible;
  -webkit-transition:transform 0.5s ease 0s;
  -moz-transition:transform 0.5s ease 0s;
  -o-transition:transform 0.5s ease 0s;
  transition:transform 0.5s ease 0s;
  transform:translate3d(0,0,0);
  -webkit-transform:translate3d(0,0,0);
  -ms-transform:translate3d(0,0,0);
  -o-transform:translate3d(0,0,0);
}
.dgt-effect-slide.dgt-menu-open .site-overlay {
  opacity:0.6;
  filter:alpha(opacity=60);
  visibility:visible;
  transform:translate3d(320px,0px,0px);
  -webkit-transform:translate3d(320px,0px,0px);
  -ms-transform:translate3d(320px,0px,0px);
  -o-transform:translate3d(320px,0px,0px);
}
.dgt-effect-slide.dgt-menu {
  transform:translate3d(-100%,0,0);
  -webkit-transform:translate3d(-100%,0,0);
  -ms-transform:translate3d(-100%,0,0);
  -o-transform:translate3d(-100%,0,0);
}
